{% extends "base.html" %}

{% block content %}

    <div class="section-header">
        <h2>All Technicians</h2>
        <form action="/technicians/new">
            <input type="submit" value="Add New Technician" class="buttons">
        </form>
    </div>
    

    <div class="all-techs">
    {% for technician in all_technicians %}

        <a href="/technicians/{{technician.id}}/show" class="single-tech">
            <img src="{{technician.picture}}" alt="Picture of technician {{technician.name}}">
            <p><b>Name:</b> {{technician.name}}</p>
            <p><b>Speciality:</b> {{technician.type.name}}</p>
        </a>

    {% endfor %}
    </div>

{% endblock %}