{% extends "base.html" %}

{% block content %}

    <h3>Update Selected Note for {{droid.name}}</h3>

    <form action="/notes/{{note.id}}/show" method="post" class="notes-form">

        <input type="hidden" name="droid_id" value="{{note.droid.id}}">

        <label for="date">Date:</label>
            <input type="date" id="date" name="date" value="{{note.date}}">

        <label for="service">Service:</label>
            <select id="service" name="service_id">
                {% for service in available_services %}
                    <option value="{{ service.id }}"
                    {% if service.id == note.service.id %} selected="selected" {% endif %}>
                        {{service.name}}</option>
                {% endfor %}
            </select>
            
        <label for="note_text">Repair Note:</label>
            <input type="text" id="note_text" name="note_text" value="{{note.note}}">
        
        <button type="submit">Update Details</button>

    </form>

{% endblock %}