{% extends "base.html" %}

{% block content %}
    <div class="droid-container">
        <div class="droid-details">
            <h2>{{droid.name}}</h2>

            <p> <b>Type:</b> {{droid.type.name}} Droid</p>
            {% if droid.technician is not none %}
                <p> <b>Technician:</b> {{droid.technician.name}}</p>
            {% else %}
                <p> <b>Technician:</b> Not Assigned</p>
            {% endif %}
            <p> <b>Activation Date:</b> {{droid.change_date_format()}}</p>
            <p> <b>Years Active:</b> {{droid.calculate_years_active()}}</p>

            <div class="show-buttons">
                <form action="/droids/{{droid.id}}/edit">
                    <input type="submit" value="Update Droid Details" class="buttons">
                </form>

                <form action="/droids/{{droid.id}}/delete", method="post">
                    <input type="submit" value="Delete" class="buttons-delete">
                </form>
            </div>
        </div>

        <div class="owner-details">
            <h3>Owner Details</h3>
            <p> <b>Name:</b> {{droid.owner.name}}</p>
            <p> <b>Home Planet:</b> {{droid.owner.home_planet}}</p>
            <p> <b>Comlink Frequency:</b> {{droid.owner.comlink_frequency}}</p>

            <form action="/owners/{{droid.owner.id}}/edit">
                <input type="submit" value="Update Owner Details" class="buttons">
            </form>
        </div>
    </div>

    <hr>

    <div class="droid-notes">
        <div class="section-header">
            <h3>Repair Notes</h3>

            <form action="/notes/{{droid.id}}/new">
                <input type="submit" value="Add New Note" class="buttons">
            </form>
        </div>

        {% for note in notes %}
            <div class="note-container">

                <form action="/notes/{{note.id}}/edit">
                    <input type="submit" value="Edit" class="mini-buttons">
                </form>

                <form action="/notes/{{note.id}}/delete" method="post">
                    <input type="submit" value="Delete" class="mini-buttons-delete">
                </form>

                <p> <b>{{note.change_date_format()}}&nbsp;&nbsp;&nbsp;{{note.service.name}}:</b> {{note.note}}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}