{% extends "base.html" %}

{% block content %}

    <h3>Update Service Details</h3>

    <form action="/services/{{service.id}}/edit" method="post" class="services-form">

        <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{service.name}}" required autofocus>
        
        <label for="cost">Cost in credits:</label>
            <input type="number" id="cost" name="cost" value="{{service.cost}}" required autofocus>
        
        <h4>Droid Types:</h4> <br>
        {% for type in all_types %}
            <label for="{{type.name}}"">{{type.name}}</label>
                <input type="checkbox" name="{{type.id}}" id="{{type.name}}"
                    {% if type.id in relevant_type_ids %} checked {% endif %}>
        {% endfor %}
        
        <button type="submit">Update Details</button>

    </form>

{% endblock %}