header > h1 {
    grid-area: heading;
}

header > nav {
    grid-area: nav-bar;
}

header > img {
    grid-area: logo;
}

header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 232, 31);
    padding: 24px;
    display: grid;
    grid-template-areas: 
        'heading logo'
        'nav-bar logo';
    grid-template-columns: 1fr 80px;
}

.header-menu {
    display: flex;
    gap: 32px;
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.header-menu > li > a {
    color: rgb(255, 232, 31);
    font-size: 18px;
    margin: 0;
}

h1 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 42px;
}

h2 {
    font-size: 32px;
    color: rgb(0, 0, 0);
    margin: 0;
    padding-bottom: 16px;
}

h3 {
    font-size: 24px;
    margin: 0;
    padding-bottom: 16px;
}

h4 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 8px;
}

p {
    font-size: 18px;
    margin: 0;
    padding-bottom: 4px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    color: rgb(0, 0, 0);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.content {
    padding: 32px;
}

.homepage-buttons {
    padding-top: 16px;
    padding-bottom: 32px;
}

.homepage-buttons > input {
    font-size: 32px;
    font-weight: bold;
    background-color: rgb(243, 243, 243);
    width: 500px;
    height: 100px;
    border-color: black;
    border-radius: 20px;
    border-width: 6px;
    cursor: pointer;
}

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 232, 31);
    padding: 24px;
    text-align: center;
}

.section-header {
    display: flex;
    gap: 24px ;
    align-items: center;
    padding-bottom: 18px;
}

.section-header > h2 {
    padding: 0;
}

.show-buttons {
    padding-top: 16px;
    padding-bottom: 24px;
    display: flex;
    gap: 8px;
}

.buttons {
    font-size: 16px;
    background-color: rgb(243, 243, 243);
    height: 40px;
    width: 175px;
    border-color: black;
    border-radius: 6px;
    border-width: 2px;
    cursor: pointer;
}
