.all-droids {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 48px;
}

.single-droid {
    color: rgb(0, 0, 0);
    background-color: rgb(243, 243, 243);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    border-radius: 30px;
    text-decoration: none;
    padding: 12px;
    height: 325px;
    width: 350px;
    cursor: pointer;
}

.single-droid > img {
    padding: 12px;
    padding-bottom: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.single-droid > p {
    font-size: 18px;
    padding: 12px;
    padding-top: 0;
    margin: 0;
}

.droid-details {
    grid-area: droid-details;
}

.owner-details {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 12px;
    height: 180px;
    width: 280px;
    grid-area: owner-details;
}

.owner-details > form {
    padding-top: 12px;
}

.droid-notes {
    margin-top: 18px;
}

.droid-notes > p {
    padding-bottom: 16px;
}

.droid-container {
    display: grid;
    grid-template: 
        'droid-details owner-details' 220px / 1fr 320px;
        /* 'droid-notes droid-notes' 1fr / 1fr 320px; */
}

.droids-form {
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template: 40px 40px 40px 40px 40px 40px/ 150px 450px;
    gap: 12px;
    align-items: center;
}

.droids-form > input {
    font-size: 16px;
    background-color: rgb(243, 243, 243); 
    padding: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 6px;
}

.droids-form > select {
    font-size: 16px;
    background-color: rgb(243, 243, 243); 
    padding: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 6px;
}

.droids-form > button {
    font-size: 16px;
    background-color: rgb(243, 243, 243); 
    padding: 8px;
    width: 612px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 6px;
    cursor: pointer;
}

.droids-form > h4 {
    padding-top: 10px;
}

#activation_date {
    font-family: Arial, Helvetica, sans-serif;
}

#date {
    font-family: Arial, Helvetica, sans-serif;
}
