.all-droids {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 48px;
}

.single-droid {
    color: rgb(0, 0, 0);
    background-color: rgb(243, 243, 243);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    border-radius: 30px;
    text-decoration: none;
    padding: 12px;
    height: 350px;
    width: 350px;
    cursor: pointer;
}

.single-droid > img {
    align-self: center;
    padding: 12px;
}

.single-droid > p {
    font-size: 18px;
    padding: 12px;
    padding-top: 0;
    margin: 0;
}

.droid-details {
    grid-area: droid-details;
}

.owner-details {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 12px;
    height: 180px;
    width: 280px;
    grid-area: owner-details;
}

.owner-details > form {
    padding-top: 12px;
}

.droid-notes {
    grid-area: droid-notes;
}

.droid-container {
    display: grid;
    grid-template: 
        'droid-details owner-details' 220px
        'droid-notes droid-notes' 1fr / 1fr 320px;
    
}