<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='technicians.css') }}">
    <title>Droid Repair Workshop</title>
</head>

<body>

    <header>
        <h1>Droid Repair Workshop</h1>
        <nav>
            <ul class="header-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/technicians">All Technicians</a></li>
                <li><a href="/droids">All Droids</a></li>
            </ul>
        </nav>
        <img src="/static/images/logo.png" alt="Logo of robot with medical cross" width="80px" height="80px">
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; Louise Cuthbertson</p>
    </footer>

</body>

</html>